/*main css -------------------------------------------------------------------------------------------------*/
/*object: balance clean simple*/

/* colors used: outline l	#e6e6fa,
				outline h	#afafaf,
				text-light	#606060,
				text-main	#303030,
				background	white,
				highlight	black,
				shadow		#afafaf		*/

/*3 types of font-family:
	monospace:	Consolas, monospace;
	serif:		Georgia, serif;
	sans-serif:	Arial, sans-serif;		*/

html{ height:100%; background-color: #e6e6fa; user-select:none;-webkit-user-select:none;}
body { margin:0 auto; height:100%; width: 60em; color: #606060;overflow:hidden; }

hr{margin:0;padding:0;}
/*typography***************************************************************************************/
h1,h2,h3,h4{ margin: 0.5em 0 0 0; }
h1{font: bold small-caps 2em Constantia,serif; }
h2{font-size: 1.75em;}h3{font-size: 1.5em;}h4{font-size: 1.25em;}
h2,h3,h4{font-weight: normal; font-family: georgia,serif;}

p{
	color:#303030;
	font:1em arial,sans-serif;
	margin:0.5em;
}
span, a{
	text-align: center;
	color: #606060;
	font: 1em Verdana,sans-serif;
	text-decoration: none;
	padding:0.25em;
	cursor: pointer;
}

/*the simple 12 columns grid-------------------------------------------------------------------------------------------------*/
/*container can hold boxes*/
.container{
	width:60em;
	margin:0 auto;
	background-color: white;
}
.box{
	display: inline-block;
	vertical-align: top;
}

/*center, top and bottom are to give the box specific align property, default are left and top*/
.center {text-align: center;}
.right {text-align: right;}
.middle {vertical-align: middle;}
.bottom {vertical-align: bottom;}

/*cells(columns) that a box can hold: form 1 to 12*/
.c1 {width: 5em;}.c2 {width: 10em;}.c3 {width: 15em;}.c4 {width: 20em;}.c5 {width: 25em;}.c6 {width: 30em;}
.c7 {width: 35em;}.c8 {width: 40em;}.c9 {width: 45em;}.c10 {width: 50em;}.c11 {width: 55em;}.c12 {width: 60em;}
.bc1{background-color:gold;}
.bc2{background-color:aqua;}
/*i thing the pre post idea for takeup empty space is stupid, just an empty box will do*/
/*.pre1 {padding-left: 5em;}.pre2 {padding-left: 10em;}.pre3 {padding-left: 15em;}
.pre4 {padding-left: 20em;}.pre5 {padding-left: 25em;}.pre6 {padding-left: 30em;}
.pre7 {padding-left: 35em;}.pre8 {padding-left: 40em;}.pre9 {padding-left: 45em;}
.pre10 {padding-left: 50em;}.pre11 {padding-left: 55em;}.pre12 {padding-left: 60em;}

.post1 {padding-right: 5em;}.post2 {padding-right: 10em;}.post3 {padding-right: 15em;}
.post4 {padding-right: 20em;}.post5 {padding-right: 25em;}.post6 {padding-right: 30em;}
.post7 {padding-right: 35em;}.post8 {padding-right: 40em;}.post9 {padding-right: 45em;}
.post10 {padding-right: 50em;}.post11 {padding-right: 55em;}.post12 {padding-right: 60em;}*/


/*head section-------------------------------------------------------------------------------------------------*/
.title{
	display: inline-block;
}
.title #bar{
	border:none;
	height:1px;
	margin-bottom: 0.5em;
}
.nav a{
	border:1px solid transparent;
	transition:all 0.2s;
}
.nav a:hover{
	color:black;
	border-color: #afafaf;
	box-shadow: 0 0 0.25em #afafaf;
}
.nav a:active{
	box-shadow: none;
}

/*body section-------------------------------------------------------------------------------------------------*/
#main{
	-webkit-user-select: none;
	user-select:none;
}
#footer{
	background-image: linear-gradient(to bottom, white,#e6e6fa);
	height:10em;
}
#buttons{
	margin:1em 0 2em 0;
	border-top: 1px solid #e6e6fa;
	border-bottom: 1px solid #e6e6fa;
	text-align: center;
	list-style: none;
	background-image: linear-gradient(to right, #f0f0fa,#fafaff 30%, #fafaff 70%,#f0f0fa);
}

#buttons span{
	display: inline-block;
	transition:all 0.2s;
}

#buttons .selected{
	font-weight: bold;
	color:black;
	/*font-size: 1.1em;*/
}
#buttons span:hover{
	color:black;
}

#buttons .selected:active{
	font-weight: bold;
	color:black;
}
#buttons span:active{
	box-shadow:none;
	color:#afafaf;
}


/*******-------------------------------------------------------------------------------------------------*/

.tritri{
	display: inline-block;
	background-color:gold;
	transition:all 2s ease 2s;
}
.tritri:hover{
	background-color:initial;
}
.tri{
	float:left;
	width:0;
	border-bottom:6.9px solid gold;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
}
