/*tags -------------------------------------------------------------------------------------------------*/

html{
  height: 100%;
}
body {
	color:#888;
	overflow: hidden;
	width:80%;
	height: 100%;
	margin:1em auto;

}

/*head section-------------------------------------------------------------------------------------------------*/
.title{
	position: relative;
	left:5%;
	display: inline-block;
	margin: 0;
	font-family: Constantia,DejaVu Sans;
}
.title h1{
	font-size:2.5em;
	font-variant: small-caps;
	margin:0;
}
#nav{
	text-align: right;
	margin: -1.5em 0 0.5em 0;
}
#nav a{
	color: #888;
	border:1px solid rgba(0,0,0,0.2);
	font-weight: bold;
	font-family:Verdana,arial,sans-serif;
	background-color:#e6e6fa;
	text-decoration: none;
	padding:0.25em;
}
#bar {
	border: none;
	height: 1px;
	margin:0 0 1em 0;
	/*-webkit-animation: kitt 4s infinite;*/
}

/*body section-------------------------------------------------------------------------------------------------*/
#stage{
	border:1px solid rgba(0,0,0,0.2);
	border-top-width: 2px;
	background-color:#e6e6fa;
	width:100%;
	height:80%;
	margin:auto;
	padding: 0.5em 0.5em 0.5em 8em;
	box-sizing: border-box;
}


/*generic button-------------------------------------------------------------------------------------------------*/
#btns{
	border-right:1px solid rgba(0,0,0,0.2);
	text-align: center;
	position: relative;
	margin:0 0 0 -8em;
	padding-right: 0.5em;
	float:left;
	left:0.5em;
	width:6em;
	height:100%;
}
.btn {
	color: #666;
	background-color:#fff;
	font-family:Verdana,arial,sans-serif;
	cursor: pointer;
	display: block;
	border-radius: 4px;
	padding:2px 2px;
	margin:0.25em;
	box-shadow: inset 0 0 4px #666;
	transition: all 0.3s;
}
.btn:hover{
	color:#fff;
	background-color:#999;
	box-shadow: 0 0 4px #666;
}
.btn:active{
	background-color:#ccc;
}



/*#canvas {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
}*/

